html {
    font-size: 100%;
}

body {
    padding: 2rem;
}

.header {
    background-color: #669BBC;
    margin-bottom: 1rem;
    display: flex;
    border-radius: .5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    .brand-name {
        color: #780000;
        margin-left: 2rem;
    }

    .navbar a {
        text-decoration: none;
        font-weight: bolder;
        font-size: 1rem;
        color: #780000;
        margin-right: 2rem;
    }
}


.main {
    background-color: #669BBC;
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    gap: .5rem;
    border-radius: .5rem;

    .content {
        flex-basis: 66.6%;
        border-radius: .5rem;

        .course-list {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            font-weight: bold;

            .box {
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #780000;
                background-color: #FDF0D5;
                flex-grow: 1;
                border-radius: .5rem;
                flex-basis: calc(33.3% - .5rem);
            }
        }
    }

    .sidebar {
        flex-basis: 33.3%;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        gap: 1.5rem;
        .box {
            background-color: #FDF0D5;
            padding: 3rem;
            color: #780000;
            border-radius: .5rem;

        }
    }
}

.main-second {
    background-color: #669BBC;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    color: #780000;
    font-weight: bold;

    .intro-box {
        display: flex;
        flex-basis: 20%;
        align-items: center;
        justify-content: center;
    }

    .about-section{
        text-align: center;
    }
}

.footer {
    background-color: #669BBC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #780000;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .5rem;
}
