html {
    font-size: 100%;
}
.box {
        background-color: #00171f;
        font-size: 2rem;
        font-weight: bolder;
        color: white;
        display: grid;
        grid-template-columns: repeat( 7 , 1fr );
        grid-template-areas:
        'header header header header header header header'
        'section section section section section sidebar sidebar'
        'about about note note note note note'
        'footer footer footer footer footer footer footer'
        ;
        border-radius: 1rem;
      }
      .item {
        background-color: #003459;
        margin: 1rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        text-align: center;
      }
      .header {
        grid-area: header;
      }
      .section {
        grid-area: section;
      }
      .sidebar {
        grid-area: sidebar;
      }
      .about {
        grid-area: about;
      }
      .note {
        grid-area: note;
      }
      .footer {
        grid-area: footer;
      }
