html {
  font-size: 100%;
}

body {
  padding: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.header {
  background-color: #669bbc;
  grid-column: 1 / 13;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  .brand-name {
    color: #780000;
    margin-left: 2rem;
  }

  .navbar a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
    color: #780000;
    margin-right: 2rem;
  }
}

.content {
  background-color: #669bbc;
  flex-basis: 66.6%;
  border-radius: 0.5rem;
  grid-column: 1 / 9;

  .course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-weight: bold;
    padding: 1rem;

    .box {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #780000;
      background-color: #fdf0d5;
      flex-grow: 1;
      border-radius: 0.5rem;
      flex-basis: calc(33.3% - 0.5rem);
    }
  }
}

.sidebar {
  grid-column: 9 / 13;
  background-color: #669bbc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 1.5rem;
  .box {
    background-color: #fdf0d5;
    padding: 2.5rem;
    color: #780000;
    border-radius: 0.5rem;
  }
}

.intro-box {
  grid-column: 1 / 3;
  background-color: #669bbc;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #780000;
  display: flex;
  flex-basis: 20%;
  align-items: center;
  justify-content: center;
}

.about-section {
  grid-column: 3 / 13;
  font-weight: bold;
  color: #780000;
  border-radius: 0.5rem;
  background-color: #669bbc;
  text-align: center;
}

.footer {
  grid-column: 1 / 13;
  background-color: #669bbc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #780000;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;

    .brand-name {
      margin: 0 0 1rem;
    }

    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      a {
        margin: 0;
      }
    }
  }

  .sidebar .box {
    padding: 1.8rem;
  }

  .intro-box {
    grid-column: 5 / 9;
    font-size: 1.2rem;
  }

  .about-section {
    grid-column: 1 / 13;
    font-size: 0.9rem;
  }
}
