html {
    font-size: 100%;
}

body {
    padding: 2rem;
}
.box {
        background-color: #00171f;
        font-size: 2rem;
        font-weight: bolder;
        color: white;
        display: grid;
        grid-template-columns: repeat(8, 9.37rem);
        grid-template-rows: repeat(6, 6rem);
        border-radius: 1rem;
      }
      .item {
        background-color: #003459;
        margin: 1rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
      }
      .item-1 {
        grid-column: 1 / 9;
        grid-row: 1 / 2;
      }
      .item-2 {
        grid-column: 1 / 7;
        grid-row: 2 / 5;
      }
      .item-3 {
        grid-column: 7 / 9;
        grid-row: 2 / 5;
      }
      .item-4 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
      }
      .item-5 {
        grid-column: 3 /9;
        grid-row: 5 / 6;
      }
      .item-6 {
        grid-column: 1 / 9;
        grid-row: 6 / 7;
      }
